<app-navantes></app-navantes>
<!--Form start-->
<div class="formulario"> 
    <div class="row">
        <div class="col-4">
            <form autocomplete="off" [formGroup]="miFormulario">
                <h4 class="titulo">INICIA SESION</h4>
                <br>
                <div class="d-grid gap-2">
                    <button type="button" class="btn btn-outline-light">Continuar con Google</button> <!--Insertar icono de google-->
                </div>
                <br>
                <div class="d-grid gap-2">
                    <button type="button" class="btn btn-outline-light">Continuar con Facebook</button> <!--Insertar icono de facebook-->
                </div>
                <br>
                <div>
                    <p class="aviso">Iniciar sesión con correo electronico o con nombre de usuario</p>
                </div>
                <br>
                <div class="input-group ">
                    <input type="text" class="form-control" formControlName="correo" placeholder="Ingrese su correo electronico" [pattern]="emailCheck">         
                </div>
                <div>
                    <span *ngIf="emailReq()" class="form-text text-danger">
                        Dirección de correo no válida</span>
                <span *ngIf="emailPattern()" class="form-text text-danger">
                    Patrón incorrecto</span>
                </div>
                <br>
                <div class="input-group ">
                    <input type="password" class="form-control" formControlName="password" placeholder="Ingrese su contraseña">
                </div>
                <span class="form-text text-danger" *ngIf="campoValido('password')">Mínimo 8 caracteres</span>
                <br>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-outline-light" (click)="save()"><a>Iniciar sesión</a></button>
                </div>
                <br>
                <div class="d-grid gap-2">
                    <button type="button" class="btn btn-light" [routerLink]="['/registro']">Registrarse</button>
                </div>
            </form>
        </div>
        <div class="col-6 image">
            <img src="./assets/img/mascotaUABC.webp" alt="mascotaUABC">
        </div>
    </div>
</div>
<!--Form end-->