<app-navadmin></app-navadmin>
<!--Inicio Tabla-->
<div class="tabl3">
  <table class="table" id="examples">
    <thead>
      <tr>
        <th scope="col">Fecha</th>
        <th scope="col">Nivel</th>
        <th scope="col">Juego</th>
        <th scope="col">Matricula</th>
        <th scope="col">Equipo</th>
        <th scope="col">Sala</th>
        <th scope="col">Correctas</th>
        <th scope="col">Incorrectas</th>
        <th scope="col">Puntuación</th>
        <!-- <th scope="col">Precisión</th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of historial">
        <td scope="row">{{item.fecha | date}}</td>
        <td *ngFor="let item2 of niveles" [hidden]="item.idNivel != item2.idNivel">{{item2.nivel}}</td>
        <td *ngFor="let item3 of juegos" [hidden]="item.idJuego != item3.idJuego">{{item3.juego}}</td>
        <td>{{item.matricula}}</td>
        <td>{{item.equipo}}</td>
        <td>{{item.sala}}</td>
        <td>{{item.correctas}}</td>
        <td>{{item.incorrectas}}</td>
        <td>{{item.puntajeTotal}}</td>
      </tr>
      <!-- <tr>
        <td>Fecha</td>
        <td>Nivel</td>
        <td>Juego</td>
        <td>Matricula</td>
        <td>Equipo</td>
        <td>Sala</td>
        <td>Correctas</td>
        <td>Incorrectas</td>
        <td>Puntuación</td>
      </tr> -->
    </tbody>
  </table>
</div>
<!--Fin Tabla-->

<!--Tabla-->
<!-- <div class="container">
  <div class="row">
    <div class="col-lg-12">
      <table id="examples" class="table table-bordered  display nowrap" cellspacing="0" width="100%">
        <thead class="thead">
          <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Disponibles</th>
            <th>Tamaño</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr class="tr">
            <td>xx</td>
            <td>xx</td>
            <td>xx</td>
            <td>xx</td>
            <td class="botones">
              <form action="Palta.php" method="POST">
                <button class="btn opc btn-success" type="submit"><i class="fas fa-check"></i> <strong>
                    Actualizar</strong>
                  <span></span> </button>
              </form>
              <form action="PInven.php" method="POST">
                <button class="btn opc btn-primary" type="submit"><i class="fas fa-history"></i> <strong>
                    Historial</strong>
                  <span></span> </button>
              </form>
              <form action="Eliminar.php" method="POST">
                <button class="btn opc btn-danger" type="submit"><span><i class="fas fa-trash"> </i><strong>
                      Eliminar</strong></span></button>
              </form>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<br> -->
<!--Tabla-->