<!-- <p>comienzajuego works!</p>
<hr>
<div *ngFor="let item of xd">
    <div >
        <input type="text" value="{{item.pregunta}}" disabled>
        <hr>
        <button type="button">{{item.respuesta1}}</button>
        <button type="button">{{item.respuesta2}}</button>
        <button type="button">{{item.respuesta3}}</button>
        <button type="button">{{item.respuesta4}}</button>
    </div>
</div>
<hr> -->
<div *ngFor="let item of xd" [hidden]="item.idPregunta != orden">
    <p class="fs-1 text-center m-1">{{item.pregunta}}</p>
    <br>
    <div class="row row-cols-1 row-cols-md-2 g-4 m-4">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="d-grid gap-4 d-md-block">
                        <button class="btn btn-primary btn-lg" type="button">{{item.respuesta1}}</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <button class="btn btn-primary btn-lg" type="button">{{item.respuesta2}}</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <button class="btn btn-primary btn-lg" type="button">{{item.respuesta3}}</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <button class="btn btn-primary btn-lg" type="button">{{item.respuesta4}}</button>
                </div>
        </div>
    </div>
</div>
            </div>