<!-- BARRA DE NAVEGACIÓN -->
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item has-text-weight-bold has-text-primary is-size-5 ">
        <img src="./../../../assets/img/xd.png" width="25" height="50"> FarmacoGame
      </a>
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div id="navbarBasicExample" class="navbar-menu has-text-weight-semibold 		">
     
  
      <div class="navbar-end has-text-primary">
        <a class="navbar-item">
          Opcion
        </a>
        <a class="navbar-item">
          Opcion
        </a>
        <a class="navbar-item">
          Opcion
        </a>
        <a class="navbar-item">
          Opcion
        </a>
  
      
        <div class="navbar-item">
          <div class="buttons">
            <button *ngIf="tipoUsuario == 2" [routerLink]="['/home']" class="button is-success has-text-weight-medium"><a>Iniciar Sesión</a></button>
            <button *ngIf="tipoUsuario == 1" [routerLink]="['/inicio']" class="button is-success has-text-weight-medium"><a>Iniciar Sesión</a></button>
            <button *ngIf="tipoUsuario == 0" [routerLink]="['/login']" class="button is-success has-text-weight-medium"><a>Iniciar Sesión</a></button>
            <button class="button is-primary is-light has-text-primary has-text-weight-medium" [routerLink]="['/welcome']">Acerca De</button>
          </div>
        </div>
      </div>
    </div>
  </nav>