   <!-- BARRA DE NAVEGACIÓN -->
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item has-text-weight-bold has-text-primary is-size-5 " href="https://bulma.io">
      <img src="https://assets2.razerzone.com/images/phoenix/razer-ths-logo.svg" width="50" height="100"> FarmacoGame
    </a>
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarBasicExample" class="navbar-menu has-text-weight-semibold 		">
    <div class="navbar-end has-text-primary">
      <a class="navbar-item">
        Opcion
      </a>
      <a class="navbar-item">
        Opcion
      </a>
      <a class="navbar-item">
        Opcion
      </a>
      <a class="navbar-item">
        Opcion
      </a>
      <div class="navbar-item">
        <div class="buttons">
          <button class="button is-success has-text-weight-medium">Iniciar Sesión</button>
          <button class="button is-primary is-light has-text-primary has-text-weight-medium	">Acerca De</button>
        </div>
      </div>
    </div>
  </div>
</nav>

<!-- CONTENEDOR HEADER HOME -->
<section class="hero is-large is-primary">
  <div class="container has-text-centered">
    <div class="hero-body columns">
      <div class="column">
        <h1 class="is-size-1 is-uppercase has-text-weight-bold">
          Large hero
        </h1>
        <h2 class="is-size-2">Lorem, ipsum.</h2>
        <p class="subtitle">
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, nobis libero. Quasi incidunt praesentium ut, iusto voluptatem ipsam commodi animi?
        </p>
          <button class="button column mx-4 is-one-third is-warning"><strong>Empezar Ahora</strong></button>
          <button class="button column mx-4 is-one-third is-outlined is-warning"><strong>Registrarme</strong></button>
      </div>
      <div class="column  has-text-centered">
        <img src="./../../../assets/img/xd.png"  alt="" style="max-height:50vh ;">
      </div>
    </div>
  </div>
</section>

<!-- CONTENEDOR IDEA PRINCIPAL -->
<div class="container card my-4 p-6">
  <div class="columns is-mobile is-centered">
  <div class="column is-half has-text-centered">
    <p class="bd-notification is-primary">
      <img src="./../../../assets/img/xd.png"  alt="" style="max-height:30vh ;">
    </p>
  </div>
  <div class="column is-half has-text-left m-auto">
    <p class="title is-3">IDEA PRINCIPAL</p>
    <p class="subtitle is-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore incidunt voluptas in, maiores quia veniam sequi nemo facere. Ad, earum?</p>
  </div>
</div>
</div>

<!-- CONTENEDOR PARA IDEAS PRINCIPALES DE HONE -->
  <div class="notification is-success has-text-centered my-4 ">
   <div class="container is-four-fifths  m-auto">
    <div class="columns is-mobile is-3-desktop">
      <div class="column m-5 p-4">
        <div class="card ">
          <div class="card-image">
            <figure class="image is-76x76">
              <img src="./../../../assets/img/SK.jpg" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <div class="media ">
              <div class="media-left ">
                <figure class="image m-auto is-48x48">
                  <img src="./../../../assets/img/t.jpg" alt="Placeholder image">
                </figure>
              </div>
              <div class="media-content  has-text-left">
                <p class="title is-4">Ventaja 1</p>
              </div>
            </div>
            <div class="content">
             Descripción de la ventaja
            </div>
            <div class="card-footer pb-4 has-text-centered">
              <a class="button is-link is-inverted m-auto ">
               <strong>Ver más -> </strong>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="column  m-5 p-4 ">
        <div class="card ">
          <div class="card-image">
            <figure class="image is-76x76">
              <img src="./../../../assets/img/SK.jpg" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <div class="media ">
              <div class="media-left ">
                <figure class="image m-auto is-48x48">
                  <img src="./../../../assets/img/t.jpg" alt="Placeholder image">
                </figure>
              </div>
              <div class="media-content  has-text-left">
                <p class="title is-4">Ventaja 1</p>
              </div>
            </div>
            <div class="content">
             Descripción de la ventaja
            </div>
            <div class="card-footer pb-4 has-text-centered">
              <a class="button is-link is-inverted m-auto ">
               <strong>Ver más -> </strong>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="column  m-5 p-4 ">
        <div class="card ">
          <div class="card-image">
            <figure class="image is-76x76">
              <img src="./../../../assets/img/SK.jpg" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <div class="media ">
              <div class="media-left ">
                <figure class="image m-auto is-48x48">
                  <img src="./../../../assets/img/t.jpg" alt="Placeholder image">
                </figure>
              </div>
              <div class="media-content  has-text-left">
                <p class="title is-4">Ventaja 1</p>
              </div>
            </div>
            <div class="content">
             Descripción de la ventaja
            </div>
            <div class="card-footer pb-4 has-text-centered">
              <a class="button is-link is-inverted m-auto ">
               <strong>Ver más -> </strong>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
   </div>
  </div>

<!--  <section class="contact-box">
  <div class="hero-body">
    <div class="">
      <p class="title">
        Fullheight hero
      </p>
      <p class="subtitle">
        Fullheight subtitle
      </p>
    </div>
  </div>
</section>   -->


<section class="container2">
  <div class="row ">
       <div class="col-xl-5 col-lg-5 imagenlogo2">
       </div>
       <div class="col-xl-7 col-lg-7 d-flex">
            <div>   
                <h1 class="font-weight-bold mb-3">Idea principal</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime cum ea blanditiis perspiciatis similique, deleniti beatae porro quasi eius iste modi placeat voluptatum eveniet eligendi repellendus incidunt aliquid ut voluptas.</p>
            </div>
       </div>
   </div>
</section>
<section class="container3">
         <div class="col-xl-12 col-lg-7 d-flex">
              <div> 
                  <h1 class="font-weight-bold mb-3">Idea principal</h1>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime cum ea blanditiis perspiciatis similique, deleniti beatae porro quasi eius iste modi placeat voluptatum eveniet eligendi repellendus incidunt aliquid ut voluptas.</p>
                </div>
         </div>
         <div class="col-xl-12 col-lg-7 d-flex">
            <div class="row row-cols-1 row-cols-md-4 g-3">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                  </div>
                </div>
              </div> 

     </div>
  </section> 