<app-navantes></app-navantes>
<section class="contact-box">
    <div class="row">
        <div class="col-xl-7 col-lg-12 d-flex">
             <div class="container align-self-center p-6">
                 <h1 class="titulo">¡Bienvenid@!</h1>
                 <h3 class="subtitulo">IDEA PRINCIPAL</h3>
                 <p>FarmacoGame, videojuego web con la intención de ayudar a reforzar los conocimientos de los estudiantes de la universidad UABC especificamente de la carrera de medicina</p>
                 <div class="form-group">
                    <button [routerLink]="['/registro']" class="btn btn-warning d-inline-block text-light mr-2 mb-3 width-100"><a>Empezar Ahora</a></button>
                    <button *ngIf="tipoUsuario == 2" [routerLink]="['/home']" class="btn btn-warning d-inline-block text-light mb-3 width-100"><a>Ya tengo una cuenta</a></button>
                    <button *ngIf="tipoUsuario == 1" [routerLink]="['/inicio']" class="btn btn-warning d-inline-block text-light mb-3 width-100"><a>Ya tengo una cuenta</a></button>
                    <button *ngIf="tipoUsuario == 0" [routerLink]="['/login']" class="btn btn-warning d-inline-block text-light mb-3 width-100"><a>Ya tengo una cuenta</a></button>
                </div>                     
             </div>
        </div>
        <div class="col-xl-5 col-lg-12 register-bg p-4 ">
        </div>
    </div>
</section>  


<section class="container2">
  <div class="row ">
       <div class="col-xl-5 col-lg-5 imagenlogo2">
       </div>
       <div class="col-xl-7 col-lg-7 d-flex">
            <div>   
                <h1 class="font-weight-bold mb-3">Idea principal</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime cum ea blanditiis perspiciatis similique, deleniti beatae porro quasi eius iste modi placeat voluptatum eveniet eligendi repellendus incidunt aliquid ut voluptas.</p>
            </div>
       </div>
   </div>
</section>
<section class="container3">
         <div class="col-xl-12 col-lg-7 d-flex">
              <div> 
                  <h1 class="font-weight-bold mb-3">Idea principal</h1>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime cum ea blanditiis perspiciatis similique, deleniti beatae porro quasi eius iste modi placeat voluptatum eveniet eligendi repellendus incidunt aliquid ut voluptas.</p>
                </div>
         </div>
         <div class="col-xl-12 col-lg-7 d-flex">
            <div class="row row-cols-1 row-cols-md-4 g-3">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                  </div>
                </div>
              </div> 

     </div>
  </section> 