<app-navantes></app-navantes>
<!--Contenedor para general para el marco, pading de 3px-->
<section class="contact-box">
    <!--Contenedor principal-->
    <div class="row ">
        <!--Clase con la imagen del logo-->
        <div class="col-xl-5 col-lg-12 register-bg ">
        </div>
        <!--Contenedor para el formulario-->
        <div class="col-xl-7 col-lg-12 d-flex">
            <div class="container align-self-center p-6">
                <h1 class="font-weight-bold mb-3">Regístrate</h1>
                <p class="text-muted mb-5">Ingresa la siguiente información para registrarte.</p>
                <!--Inicia formulario-->
                <form autocomplete="off" [formGroup]="miFormulario">
                    <div class="form-row mb-2">
                        <div class="form-group mb-3 col-md-8 ">
                            <!-- <input type="text" class="form-control" placeholder="Ingresa tu nombre de usuario"> -->
                            <input type="text" class="form-control" formControlName="nombres" placeholder="Ingrese su nombre de usuario">
                        </div>
                        <span *ngIf="campoValido('nombres')" class="form-text text-danger">Campo obligatorio</span>
                        <div class="form-group mb-3 col-md-8 ">
                            <!-- <input type="text" class="form-control" placeholder="Ingresa tu nombre de usuario"> -->
                            <input type="text" class="form-control" formControlName="apellidos" placeholder="Ingrese sus apellidos">
                        </div>
                        <span *ngIf="campoValido('nombres')" class="form-text text-danger">Campo obligatorio</span>
                        <div class="form-group mb-3 col-md-8">
                            <input type="text" class="form-control" formControlName="matricula" placeholder="Ingrese su matricula">
                        </div>
                        <span *ngIf="campoValido('matricula')" class="form-text text-danger">Campo obligatorio</span>     
                        <div class="form-group mb-3 col-md-8">
                            <input type="email" class="form-control" formControlName="correo" placeholder="Ingrese su correo electronico" [pattern]="emailCheck">
                            <div>
                                <span *ngIf="emailReq()" class="form-text text-danger">Dirección de correo no válida</span>
                                <span *ngIf="emailPattern()" class="form-text text-danger">Patrón incorrecto</span>
                            </div>
                        </div>     
                        <div class="form-group mb-3 col-md-8">
                            <input type="password" class="form-control" formControlName="password" placeholder="Ingrese su contraseña">
                        </div>
                        <span class="form-text text-danger" *ngIf="campoValido('password')">Mínimo 8 caracteres</span>
                        <div class="form-group mb-3 col-md-8">
                            <input type="password" class="form-control" formControlName="confirmPassword" placeholder="Confirme su contraseña">
                        </div>
                        <div [hidden]="passReq()">
                            <span class="form-text text-danger" *ngIf="campoValido('confirmPassword')">La contraseña no coinciden</span>
                        </div>
                        <span *ngIf="passReq()" class="form-text text-danger">Este campo es requerido</span>
                        <!--Botón para almacenar info e iniciar sesión-->
                        <div class="d-grid gap-2 col-md-8">
                            <button class="btn btn-success" type="button">Crear cuenta</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>