<app-navadmin></app-navadmin>
<!-- <div *ngFor="let nivel of niveles">
    <h1>{{nivel.nivel}}</h1>
    <button (click)="seleccion(nivel.idNivel)">Jugar</button>
</div> -->

<div class="col-12">
    <div class="row conten">
        <div class="col-3" *ngFor="let nivel of niveles">
            <div class="card">
                <!-- <img src="..." class="card-img-top" alt="img random o img de portada del test"> -->
                <div class="card-body" align="center">
                    <h5 class="card-title">{{nivel.nivel}}</h5>
                    <!-- <p class="card-text">Pequeña descripcion del juego</p> -->
                    <button class="btn btn-success" (click)="seleccion(nivel.idNivel)">Jugar</button>
                    <!-- <a href="#" class="card-link">Another link</a> -->
                </div>
                <!-- <ul class="list-group list-group-flush">
                <li class="list-group-item">Numero de preguntas</li>
                <li class="list-group-item">Tiempo total aprox</li>
                <li class="list-group-item">Nivel</li>
            </ul> -->
            </div>
        </div>
    </div>
</div>