<p>window works!</p>
<hr><br>
<!--Navbar start-->
<nav class="navbar navbar-expand-lg navs">
    <div class="container-fluid">
        <a class="navbar-brand title" href="#">FarmacoGame</a>
        <div>
            <button class="btn btn1">Acerca De</button>
            <button class="btn btn2">Registrarme</button>
        </div>
    </div>
</nav>
<!--Navbar start-->
<hr><br>
<p>Login</p>
<!--Form start-->
<div class="formulario">
    <div class="row">
        <div class="col-4">
            <form action="">
                <h4 class="titulo">INICIA SESION</h4>
                <br>
                <div class="d-grid gap-2">
                    <button type="button" class="btn btn-outline-dark">Continuar con Google</button>
                    <!--Insertar icono de google-->
                </div>
                <br>
                <div class="d-grid gap-2">
                    <button type="button" class="btn btn-outline-dark">Continuar con Facebook</button>
                    <!--Insertar icono de facebook-->
                </div>
                <br>
                <div>
                    <p class="aviso">Iniciar sesión con correo electronico o con nombre de usuario</p>
                </div>
                <br>
                <div class="input-group ">
                    <input type="text" class="form-control" placeholder="Username">
                </div>
                <br>
                <div class="input-group ">
                    <input type="text" class="form-control" placeholder="Username">
                </div>
                <br>
                <div class="d-grid gap-2">
                    <button type="button" class="btn btn-outline-light"><a href="../home/home.html">Iniciar
                            sesión</a></button>
                </div>
                <br>
                <div class="d-grid gap-2">
                    <button type="button" class="btn btn-link-light">Registrarse</button>
                </div>
            </form>
        </div>
        <div class="col-6 image">
            <img src="./assets/img/mascotaUABC.webp" alt="mascotaUABC">
        </div>
    </div>
</div>
<hr><br><br>
<p>Registro</p>
<!--Contenedor para general para el marco, pading de 3px-->
<section class="contact-box">
    <!--Contenedor principal-->
    <div class="row ">
        <!--Clase con la imagen del logo-->
        <div class="col-xl-5 col-lg-12 register-bg ">
        </div>
        <!--Contenedor para el formulario-->
        <div class="col-xl-7 col-lg-12 d-flex">
            <div class="container align-self-center p-6">
                <h1 class="font-weight-bold mb-3">Regístrate</h1>
                <p class="text-muted mb-5">Ingresa la siguiente información para registrarte.</p>
                <!--Inicia formulario-->
                <form>
                    <div class="form-row mb-2">
                        <div class="form-group mb-3 col-md-8 ">
                            <input type="text" class="form-control" placeholder="Ingresa tu nombre de usuario">
                        </div>
                        <div class="form-group mb-3 col-md-8">

                            <input type="email" class="form-control" placeholder="Ingresa tu correo electrónico">
                        </div>
                        <div class="form-group mb-3 col-md-8">

                            <input type="password" class="form-control" placeholder="Ingresa una contraseña">
                        </div>
                        <div class="form-group mb-3 col-md-8">

                            <input type="password" class="form-control " placeholder="Confirma tu contraseña">
                        </div>
                        <!--Botón para almacenar info e iniciar sesión-->
                        <div class="d-grid gap-2 col-md-8">
                            <button class="btn btn-success" type="button">INICIAR SESIÓN</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<hr>
<p>Home</p>
<div>
    <!--Contenedor para introducir el codigo-->
    <div class="row ">
        <div class="col-4 conten">
            <div class="row">
                <p>Introduce el codigo para jugar</p>
            </div>

            <div class="row">
                <div class="col-6">
                    <input type="text" placeholder="#Codigo de partida">
                </div>
                <div class="col-4">
                    <button class="btn btn-success">Unirme</button>
                </div>
        </div>
        </div>
        <!--Fin de contenedor para introducir codigo-->

        <!--Contenedor de usuario-->
        <div class="col-4 conten">
            <div class="row">
                <div class="col-3">
                    <h1>img</h1>
                </div>
                <div class="col-7">
                    <div class="row">
                        <h3>Nombre del usuario</h3>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <button class="btn btn-success"> Ver perfil</button>
                        </div>
                        <div class="col-5">
                            <a href="">Editar perfil</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Fon de contenedor de usuario-->
    </div>

    <!--Inicio de primer fila de temas-->
    <div class="row tems">
        <div class="col-6">
            <h3>Temas disponibles</h3>
        </div>
        <div class="col-6 cursos">
            <a href="">Mas cursos --></a>
        </div>
    </div>

    <div class="row cards">
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
    <!--Fin de primer fila de temas-->


    <!--Inicio de segunda fila de temas-->
    <div class="row tems">
        <div class="col-6">
            <h3>Ingles</h3>
        </div>
        <div class="col-6 cursos">
            <a href="">Mas cursos --></a>
        </div>
    </div>

    <div class="row cards">
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
    <!--Fin de segunda fila de temas-->

</div>
<hr><br>
<p>Estadísticas</p>
<!--Inicio primer contenedor (verde)-->
<div class="conten">
    <div class="seConten">
        <h1>ESTADISTICAS</h1>
        <br>
        <p>Text for relleno</p>
        <br>
        <div class="row">
            <div class="col-3">
                <a href="">option</a>
            </div>
            <div class="col-3">
                <a href="">option</a>
            </div>
            <div class="col-3">
                <a href="">option</a>
            </div>
            <div class="col-3">
                <a href="">option</a>
            </div>
        </div>
    </div>
</div>
<!--Fin primer contenedor (verde)-->

<!--Inicio Segunda fila-->
<div class="content">
    <div class="row">
        <div class="col-5 Wbox">
            <div class="row">
                <div class="col-3">
                    <h1> 54% </h1>
                </div>
                <div class="col-9">
                    <h3>Bien jugado</h3>
                    <p>Text for relleno</p>
                    <button class="btn btn-success"> button</button>
                </div>
            </div>
        </div>
        <div class="col-3 Wbox">
            <div class="row">
                <div class="col-8">
                    <p>Jugadores</p>
                </div>
                <div class="col-4">
                    <p>Icon X</p>
                </div>
            </div>
            <div class="row">
                <div class="col-8">
                    <p>Jugadores</p>
                </div>
                <div class="col-4">
                    <p>Icon X</p>
                </div>
            </div>
            <div class="row">
                <div class="col-8">
                    <p>Jugadores</p>
                </div>
                <div class="col-4">
                    <p>Icon X</p>
                </div>
            </div>
        </div>
        <div class="col-2 Wbox"> 
            <div class="row">
                <button class="btn btn-success btn-lg">Ver podium</button>
            </div>
            <br>
            <div class="row">
                <button class="btn btn-success btn-lg">Compartir</button>
            </div>
        </div>
    </div>
</div>
<!--Fin Segunda fila-->

<!--Inicio Tercera fila-->
<div class="">
    <div class="row">
        <div class="col-3 contents Wbox">
            <div class="row">
                <div class="col-9">
                    <div class="row"> <p>Seguidores</p></div>
                <div class="row"> <h3>Nombre de usuario</h3></div>
                </div>
                <div class="col-3">
                    <h2>img</h2>
                </div>
            </div>
        </div>
        <div class="col-3 contents Wbox">
            <div class="row">
                <div class="col-9">
                    <div class="row"> <p>Seguidores</p></div>
                <div class="row"> <h3>Nombre de usuario</h3></div>
                </div>
                <div class="col-3">
                    <h2>img</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Fin tercera fila-->

<!--Inicio Inputs de busqueda-->
<div class="searchs">
    <div class="row">
        <div class="col-2">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        </div>
        <div class="col-2">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        </div>
        <div class="col-2">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        </div>
    </div>
</div>
<!--Fin Inputs de busqueda-->

<!--Inicio Tabla-->
<div class="tabl3">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>@twitter</td>
            </tr>
        </tbody>
    </table>
</div>
<!--Fon Tabla-->