<app-navadmin></app-navadmin>
<div class="p-3">
    <!--Contenedor para introducir el codigo-->
    <div class="row ">
        <div class="col-4 conten">
            <button type="button" class="btn btn-success" (click)="nivel()">Crear una partida</button>
            <!-- <div class="row">
                <p>Introduce el codigo para jugar</p>
            </div>

            <div class="row">
                <div class="col-6">
                    <input type="text" placeholder="#Codigo de partida">
                </div>
                <div class="col-4">
                    <button class="btn btn-success">Unirme</button>
                </div>
            </div> -->
        </div>
        <!--Fin de contenedor para introducir codigo-->
    </div>
</div>