<app-navadmin></app-navadmin>
<div class="container my-3 text-end">

</div>
<div class="container-fluid my-4 px-5 text-center">
    <div class="row">
        <div class="col col-md-auto col-md-3 col-sm-auto">
            <div class="card mb-4">

                <div class="card-body">
                    <h6 class="fw-bold text-start p-2 mb-2 border-2 border-bottom border-primary w-50  ">Estadisticas
                    </h6>
                    <div class="bg-secondary p-4 my-4 text-dark bg-opacity-10 m-2 ">
                        <p class="pb-3 text-secondary">Apartdado en el cual puedes encontrar las estadisticas de los
                            alumnos que han jugado</p>
                        <button class="btn btn-primary fw-bold m-auto"> Ir a Estadisticas </button>
                    </div>

                </div>
            </div>
            <div class="card mb-4">
                <div class="card-body">
                    <h6 class="fw-bold text-start p-2 mb-2 border-2 border-bottom border-primary w-50  ">Estadisticas
                    </h6>
                    <div class="bg-secondary p-4 my-4 text-dark bg-opacity-10 m-2 ">
                        <p class="pb-3 text-secondary">Apartdado en el cual puedes encontrar las estadisticas de los
                            alumnos que han jugado</p>
                        <button class="btn btn-primary fw-bold m-auto"> Ir a Estadisticas </button>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card mb-4">
                <div class="card-body text-white" style="background-color: #26890C;">
                    <div class="container  px-4 py-1" id="featured-3">
                        <h6 class="fw-bold text-start text-white p-2 mb-2   ">Lorem ipsum dolor sit.</h6>
                        <h3 class="fs-3 fw-bold text-start p-2 text-white">Lorem, ipsum dolor.</h3>
                        <div class="row g-4 py-4 row-cols-1 row-cols-lg-3">
                            <div class="feature col">
                                <div
                                    class="feature-icon d-inline-flex align-items-center justify-content-center   fs-2 mb-auto">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                                        class="bi bi-1-circle" viewBox="0 0 16 16">
                                        <path
                                            d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8Zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0ZM9.283 4.002V12H7.971V5.338h-.065L6.072 6.656V5.385l1.899-1.383h1.312Z" />
                                    </svg>
                                </div>
                                <h6 class="fs-6 fw-bold my-2">Lorem ipsum dolor sit.</h6>
                                <button type="button" class="btn btn-primary fw-bold mt-auto">
                                    Button
                                </button>
                            </div>
                            <div class="feature col">
                                <div
                                    class="feature-icon d-inline-flex align-items-center justify-content-center   fs-2 mb-auto">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                                        class="bi bi-2-circle" viewBox="0 0 16 16">
                                        <path
                                            d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8Zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0ZM6.646 6.24v.07H5.375v-.064c0-1.213.879-2.402 2.637-2.402 1.582 0 2.613.949 2.613 2.215 0 1.002-.6 1.667-1.287 2.43l-.096.107-1.974 2.22v.077h3.498V12H5.422v-.832l2.97-3.293c.434-.475.903-1.008.903-1.705 0-.744-.557-1.236-1.313-1.236-.843 0-1.336.615-1.336 1.306Z" />
                                    </svg>
                                </div>
                                <h6 class="fs-6 fw-bold my-2">Lorem ipsum dolor sit.</h6>
                                <button type="button" class="btn btn-primary fw-bold mt-auto">
                                    Button
                                </button>
                            </div>
                            <div class="feature col">
                                <div
                                    class="feature-icon d-inline-flex align-items-center justify-content-center   fs-2 mb-auto">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                                        class="bi bi-3-circle" viewBox="0 0 16 16">
                                        <path
                                            d="M7.918 8.414h-.879V7.342h.838c.78 0 1.348-.522 1.342-1.237 0-.709-.563-1.195-1.348-1.195-.79 0-1.312.498-1.348 1.055H5.275c.036-1.137.95-2.115 2.625-2.121 1.594-.012 2.608.885 2.637 2.062.023 1.137-.885 1.776-1.482 1.875v.07c.703.07 1.71.64 1.734 1.917.024 1.459-1.277 2.396-2.93 2.396-1.705 0-2.707-.967-2.754-2.144H6.33c.059.597.68 1.06 1.541 1.066.973.006 1.6-.563 1.588-1.354-.006-.779-.621-1.318-1.541-1.318Z" />
                                        <path
                                            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0ZM1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8Z" />
                                    </svg>
                                </div>
                                <h6 class="fs-6 fw-bold my-2">Lorem ipsum dolor sit.</h6>
                                <button type="button" class="btn btn-primary fw-bold mt-auto">
                                    Button
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="card mb-4">
                <div class="card-body">
                    <h6 class="fw-bold text-start p-2 mb-2 border-2 border-bottom border-primary w-50  ">Mis Partidas
                    </h6>
                    <div class="bg-secondary p-4 my-4 text-dark bg-opacity-10 m-2 ">
                        <p class="pb-3 text-secondary">Apartdado en el cual puedes encontrar las estadisticas de los
                            alumnos que han jugado</p>
                        <button type="button" class="btn btn-success" (click)="nivel()">Crear una partida</button>
                    </div>

                </div>
            </div>
        </div>
        <div class="col col-md-auto col-md-3 col-sm-auto">
            <div class="card mb-4">
                <div class="card-body">
                    <h6 class="fw-bold text-start p-2 mb-2 border-2 border-bottom border-primary w-50  ">Estadisticas
                    </h6>
                    <div class="bg-secondary p-4 my-4 text-dark bg-opacity-10 m-2 ">
                        <p class="pb-3 text-secondary">Apartdado en el cual puedes encontrar las estadisticas de los
                            alumnos que han jugado</p>
                        <button class="btn btn-primary fw-bold m-auto"> Ir a Estadisticas </button>
                    </div>

                </div>
            </div>
            <div class="card mb-4">
                <div class="card-body">
                    <h6 class="fw-bold text-start p-2 mb-2 border-2 border-bottom border-primary w-50  ">Estadisticas
                    </h6>
                    <div class="bg-secondary p-4 my-4 text-dark bg-opacity-10 m-2 ">
                        <p class="pb-3 text-secondary">Apartdado en el cual puedes encontrar las estadisticas de los
                            alumnos que han jugado</p>
                        <button class="btn btn-primary fw-bold m-auto"> Ir a Estadisticas </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!--<div class="p-3">
    Contenedor para introducir el codigo
    <div class="row ">
        <div class="col-4 conten">
            <button type="button" class="btn btn-success" (click)="nivel()">Crear una partida</button>
        </div>
        Fin de contenedor para introducir codigo
    </div>-->
    <!--<div class="row p-3">
        Div principal
        <div class="row container-fluid">
            <div class="col-4">
                Primer contenedor de la izquierda
                <div class="row contenedor1">
                    <div>
                        <h3>Estadisticas</h3>
                        <p>Apartdado en el cual puedes encontrar las estadisticas de los alumnos que han jugado</p>
                        <div class="row">
                            <div class="col-12 botones">
                                <button class="btn btn-success"> Ir a Estadisticas </button>
                            </div>
                        </div>
                    </div>
                </div>
                Fin de primer contenedor de la izquierda-->

                <!--Segundo contenedor de la izquierda
                <div class="row contenedor1">
                    <div>
                        <h3>Grupos</h3>
                        <p>Apartdado en el cual puedes encontrar las estadisticas de los alumnos que han jugado</p>
                        <div class="row">
                            <div class="col-12 botones">
                                <button class="btn btn-success"> Ir a Grupos </button>
                            </div>
                        </div>
                    </div>
                </div>
                Fin de segundo contenedor de la izquierda

            </div>-->
           <!-- <div class="col-6">
                Segundo contenedor
                <div class="row contenedor2">
                    <div class="col-4">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates minus culpa possimus
                            excepturi officia repudiandae obcaecati accusantium doloribus iure delectus laboriosam in,
                            beatae, ea tempora iusto! Aut expedita dicta distinctio?</p>
                        <div class="row">
                            <img src="" alt="Img">
                        </div>
                    </div>
                    <div class="col-4">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt accusantium perspiciatis aut
                        fuga nostrum, repudiandae architecto sint facilis officiis assumenda accusamus sequi similique,
                        cupiditate voluptas maxime, minima iusto aliquid excepturi.
                        <div class="row">
                            <img src="" alt="Img">
                        </div>
                    </div>
                    <div class="col-4">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint consectetur, accusantium quas
                        dolorum quibusdam officiis nesciunt nobis nostrum repudiandae qui, rem id, reprehenderit cum
                        provident fuga. Nesciunt veritatis doloribus minus!
                        <div class="row">
                            <img src="" alt="Img">
                        </div>
                    </div>
                </div>
                Fin de segundo contenedor-->

                <!-- <div class="row contenedor2">
                    <div class="col-4">
                        <img src="" alt="Img">
                    </div>
                    <div class="col-8">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi itaque amet exercitationem
                            distinctio autem minus voluptatem a id corporis? Quidem ad reiciendis facilis provident at
                            laboriosam, magni quaerat ducimus pariatur!</p>
                    </div>
                    <div class="row">
                        <div class="col-12" style="text-align:center ;">
                            <button class="btn btn-success">Ir</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class=" row contenedor3">
                    <h5>Titulo</h5>
                    <p>Texto de relleno</p>
                    <button class="btn btn-success">Boton para algo xd</button>
                </div>

                <div class=" row contenedor3">
                    <h5>Titulo</h5>
                    <p>Texto de relleno</p>
                    <button class="btn btn-success">Boton para algo xd</button>
                </div>
            </div>
        </div>
    </div>
</div> -->