<app-navjuego></app-navjuego>
<div *ngIf="sala">
    <p class="fs-1 text-center">Esperando al lider de la sala...</p>
    <br>
    <div class="content">
        <div class="row">
            <div class="col-8 Wbox">
                <div class="card m-4">
                    <h5 class="card-header text-center">Jugadores</h5>
                    <div class="row">
                        <div class="card-body col-3" *ngFor="let user of usuario">
                            <a class="btn btn-success">{{ user }}</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 Wbox">
                <div class="card m-4">
                    <h5 class="card-header text-center">Información de sala</h5>
                    <h6 class="text-center">Codigo de sala</h6>
                    <div>
                        <label class="input-group-text col-10 offset-1" for="inputGroupSelect01">{{ room }}</label><br>
                        <h6 class="text-center m-1">Comparte el codigo con tus compañeros de juego.<br> Solo el anfitrion de
                            la sala puede dar comienzo a la partida.</h6>
                        <div class="card-body">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-12" align="center">
            <button *ngIf="idPreguntas" type="submit" name="boton" id="botonId" class="btn btn-success w-50" (click)="boton()">
                Jugar
            </button>
        </div>
    </div>
</div>

<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button type="button" class="btn btn-success m-4 numero" *ngIf="play">{{tiempoReal}}</button>
</div>

<app-rank *ngIf="rank"></app-rank>

<app-finaljuego *ngIf="final"></app-finaljuego>

<app-comienzajuego *ngIf="play"></app-comienzajuego>
<app-preplay *ngIf="pre"></app-preplay>
<hr>
<button *ngIf="orden != undefined" type="submit" name="boton" id="botonId" (click)="siguiente()">
    Siguiente
</button>

<button *ngIf="finJuego" type="submit" name="boton" id="botonId" (click)="finalizar()">
    finalizar
</button>

<button *ngIf="salir" type="submit" name="boton" id="botonId" (click)="exit()">
    Salir
</button>